.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px;
    gap: 10px;
    background-color:whitesmoke;
   
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.shopping-container{
    background-color: #FFE0B3;
   position:sticky;
   top: 0;
   padding: 10px;
}